// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.event-box {
  margin-bottom: 30px;

  .thumbnail {
    background-color: #FEFEFE;
  }

}
a:hover {
  text-decoration: none;
}


footer {
    margin: 50px 0;
}

.event-title {
  display: block;
  height: 50px;
  margin-bottom: 5px;
}

.markers {
  color: #CCC;
  margin-right: 5px;
  font-size: 15px;
}
.event-description {
  display: block;
  height: 50px;
  margin-bottom: 5px;
}